@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Campton', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
button,
input,
textarea,
label,
div,
section.article {
  font-family: 'Campton', sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

/* DARK MODE */
.dark .jodit-container {
  background: #020817 !important;
  border: 1px solid #1e293b !important;
}

.dark .jodit-toolbar__box {
  background: #020817 !important;
}

.dark .jodit-wysiwyg {
  background: #020817 !important;
  color: #ffffff !important;
}

/* LIGHT MODE */
.jodit-container {
  background: #ffffff;
}

.jodit-wysiwyg {
  background: #ffffff;
  color: #000000;
}

/* JODIT HEIGHT FIX */
.jodit-container,
.jodit-workplace,
.jodit-wysiwyg {
  min-height: 200px !important;
}

@media (max-width: 768px) {
  .jodit-container,
  .jodit-workplace,
  .jodit-wysiwyg {
    min-height: 200px !important;
  }
}

@media (max-width: 600px) {
  .sign_up {
    margin-top: 50px;
  }
}