@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Campton';
  src: url('/fonts/Campton-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Campton';
  src: url('/fonts/Campton-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Campton';
  src: url('/fonts/Campton-Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  font-family: 'Campton', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,li,a,span,button,input,textarea,label,div,section.article {
  font-family: 'Campton', sans-serif;
}

button{
  cursor: pointer;
}
body{
  margin: 0;
  padding: 0;
  
}
@media (max-width: 600px) {
  .sign_up {
    margin-top: 50px;
  }
}